<a href="https://colab.research.google.com/github/NikhithaKunati/INFO5731_Spring2020/blob/master/Copy_of_In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above.


## 1.4 Advance Text Processing

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 2-grams terms as features.

In [24]:
# Write your code here
import pandas as pd

data_file="https://raw.githubusercontent.com/unt-iialab/INFO5731_Spring2020/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['sentence'])
print("number of sentences: ",len(data['sentence']))

number of sentences:  148

In [81]:
#number of word
import pandas as pd
data_url="https://raw.githubusercontent.com/unt-iialab/INFO5731_Spring2020/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data = pd.read_csv(data_url,error_bad_lines=False,names=['sentence'])
sentence=data["sentence"] != ""
data=data[sentence]
data['word_count'] = data['sentence'].apply(lambda x: len(str(x).split(" ")))
data[['sentence','word_count']].head()

                    sentence  word_count
0                 5 Ala. 740           3
1  Supreme Court of Alabama.           4
2                      ADAMS           1
3                         v.           1
4         TANNER AND HORTON.           3

In [45]:
#number of Characters
data['char_count'] = data['sentence'].str.len()
data[['sentence','char_count']].head()

                    sentence  char_count
0                 5 Ala. 740          10
1  Supreme Court of Alabama.          25
2                      ADAMS           5
3                         v.           2
4         TANNER AND HORTON.          18

In [51]:
#avg words count
def avg_word(sentence):
    words=sentence.split()
    if len(words) !=0:
      return(sum(len(word) for word in words)/len(words))
    else:
      return 0
data['avg_word']=data['sentence'].apply(lambda x: avg_word(x))
data[['sentence','avg_word']].head()

                    sentence  avg_word
0                 5 Ala. 740  2.666667
1  Supreme Court of Alabama.  5.500000
2                      ADAMS  5.000000
3                         v.  2.000000
4         TANNER AND HORTON.  5.333333

In [56]:
#number of stop words
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop=stopwords.words('english')
data['stopwords'] = data['sentence'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['sentence','stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                    sentence  stopwords
0                 5 Ala. 740          0
1  Supreme Court of Alabama.          1
2                      ADAMS          0
3                         v.          0
4         TANNER AND HORTON.          0

In [55]:
#number of special characters

data['specialchar']=data['sentence'].apply(lambda x: len([x for x in x.split() if x.startswith(('#','@'))]))
data[['sentence','specialchar']].head()

                    sentence  specialchar
0                 5 Ala. 740            0
1  Supreme Court of Alabama.            0
2                      ADAMS            0
3                         v.            0
4         TANNER AND HORTON.            0

In [57]:
#number of numerics
data['numerics'] = data['sentence'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['sentence','numerics']].head()

                    sentence  numerics
0                 5 Ala. 740         2
1  Supreme Court of Alabama.         0
2                      ADAMS         0
3                         v.         0
4         TANNER AND HORTON.         0

In [58]:
#number of uppercase words
data['upper'] = data['sentence'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['sentence','upper']].head()

                    sentence  upper
0                 5 Ala. 740      0
1  Supreme Court of Alabama.      0
2                      ADAMS      1
3                         v.      0
4         TANNER AND HORTON.      3

In [59]:
#Lower casing
data['sentence']=data['sentence'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['sentence'].head()

0                   5 ala. 740
1    supreme court of alabama.
2                        adams
3                           v.
4           tanner and horton.
Name: sentence, dtype: object

In [66]:
#Removing Punctuation

punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
no_punct = ""
for char in data['sentence']:
   if char not in punctuations:
       no_punct = no_punct + char + "\n"

print(no_punct)

5 ala 740
supreme court of alabama
adams
v
tanner and horton
june term
synopsis
writ of error to the circuit court of sumter
west headnotes 2
1
chattel mortgages
crops
a growing crop has such an existence as to be the subjectmatter of a mortgage or other contract which passes an interest to vest in possession
4 cases that cite this headnote
2
creditors’ remedies
lien and priority
under st1821
5 cases that cite this headnote
1 this was a trial of the right of property under the statute in november
the court charged the jury
attorneys and law firms
r h smith
w m murphy
2 the lien of an execution is destroyed by an injunction
it is admitted that the contract between the defendant in execution
opinion
collier
there can be no doubt that a growing crop has such an existence as to be the subject matter of a sale
we will then consider the writing under which the claimants assert a right
the claimants had previous to the levy of the execution taken possession of the crop
3 this brings us back to the question
4 the right to levy an execution on a planted crop
the circuit judge may have mistaken the law in supposing that the contract was a sale
it results from what has been said
dissenting opinion
ormond
4 the statute which presents the question before the court is
i shall not enter upon the enquiry
this act must be considered in connection with the other acts upon the same subject the policy of the state
5 if further confirmation of the correctness of this view were necessary
all citations
5 ala 740
end of document
© 2019 thomson reuters no claim to original us government works
citing references 9
treatment
title
date
type
depth
headnotes
cited by
1 booker v jones’s adm’x
55 ala 266
trover for conversion of cotton
dec term 1876
case
—
cited by
2 lehman
47 ala 362
trover for conversion of cotton appeal from the city court of montgomery tried before hon john d cunningham
jan term 1872
case
—
cited by
3 bibb v janney
45 ala 329
garnishment wages waiver of exemption appeal from city court of montgomery tried before hon john d cunningham
jan term 1871
case
—
cited by
4 mckenzie v lampley
31 ala 526
trial of right of property in cotton appeal from the circuit court of barbour tried before the hon s d hale
jan term 1858
case
—
cited by
5 evans v lamar
21 ala 333
error to the circuit court of autauga tried before the hon a b moore
jun term 1852
case
—
cited by
6 dewey v bowman
8 cal 145
the judgment of the court below
jul term 1857
case
—
mentioned by
7 rees v coats
65 ala 256
trover for conversion of three bales of cotton appeal from the circuit court of etowah tried before the hon wm l whitlock
nov term 1880
case
—
mentioned by
8 edwards v thompson
4 sw 913
appeal from circuit court
may 1887
case
—
—
9 growing crops as subject to levy and seizure under attachment or execution
103 alr 464
generally
1936
alr
—
—
table of authorities 3
treatment
referenced title
type
depth
quoted
page number
mentioned
1 austin v sawyer
9 cow 39
parol evidence is not admissible to contradict
case
2
cited
2 perkins v mayfield
5 port 182
on writ of error to the circuit court of tuskaloosa
case
2
mentioned
3 stewart v doughty
9 johns 108
a let to b a farm for six years
case
2
filings
there are no filings for this citation
negative treatment
there are no negative treatment results for this citation
history
there are no history results for this citation

In [67]:
#Removing Stopwords
from nltk.corpus import stopwords
stop=stopwords.words('english')
data['sentence']=data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x not in stop))
data['sentence'].head()

0                5 ala 740
1    supreme court alabama
2                    adams
3                        v
4            tanner horton
Name: sentence, dtype: object

In [68]:
#frequent word removal
freq = pd.Series(' '.join(data['sentence']).split()).value_counts()[:10]
freq

freq=list(freq.index)
data['sentence'] = data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x not in freq))
data['sentence'].head()

0                740
1    supreme alabama
2              adams
3
4      tanner horton
Name: sentence, dtype: object

In [69]:
#rare word removal
freq=pd.Series(' '.join(data['sentence']).split()).value_counts()[-10:]
freq=list(freq.index)
data['sentence']=data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x not in freq))
data['sentence'].head()

0                740
1    supreme alabama
2              adams
3
4      tanner horton
Name: sentence, dtype: object

In [73]:
#spelling correcting
freq=pd.Series(' '.join(data['sentence']).split()).value_counts()[-10:]
freq=list(freq.index)
data['sentence']=data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x not in freq))
data['sentence'].head()

from textblob import TextBlob
data['sentence'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                740
1    supreme alabama
2              adams
3
4      manner norton
Name: sentence, dtype: object

In [78]:
#tokenization
import nltk
nltk.download('punkt')
TextBlob(data['sentence'][1]).words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

WordList(['supreme', 'alabama'])

In [79]:
#stemming
from nltk.stem import PorterStemmer
st=PorterStemmer()
data['sentence'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
data['sentence'].head()

0                740
1    supreme alabama
2              adams
3
4      manner norton
Name: sentence, dtype: object

In [80]:
#Lemmetization
from textblob import Word
import nltk
nltk.download('wordnet')

data['sentence']=data['sentence'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['sentence'].head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

0                740
1    supreme alabama
2               adam
3
4      manner norton
Name: sentence, dtype: object

In [0]:
#saving to .csv file
data['sentence'].to_csv("sentences.txt",header=False,index=False)

In [89]:
#term frequency
tf1=(data['sentence'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis=0).reset_index()
tf1.columns=['word','tf']
print(tf1)

       word  tf
0   Supreme   1
1     Court   1
2        of   1
3  Alabama.   1

In [90]:
#1-gram features
TextBlob(data['sentence'][1]).ngrams(1)

[WordList(['Supreme']),
 WordList(['Court']),
 WordList(['of']),
 WordList(['Alabama'])]

In [92]:
#2-gram features
TextBlob(data['sentence'][1]).ngrams(2)

[WordList(['Supreme', 'Court']),
 WordList(['Court', 'of']),
 WordList(['of', 'Alabama'])]

In [94]:
#3-gram features
TextBlob(data['sentence'][1]).ngrams(3)

[WordList(['Supreme', 'Court', 'of']), WordList(['Court', 'of', 'Alabama'])]

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. 

ip = "260.08.094.109"

In [0]:
# Write your code here
import re
ip = "260.08.094.109"
string = re.sub('\.[0]*', '.', ip)
print(string)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence.

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [0]:
# Write your code here
import re
sentence = 'The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys\' soccer team from a flooded cave to the divisive election of President Donald Trump."'
all = re.findall(r"2...",sentence)
for item in all:
  print(item)

2010
2010
2019