<a href="https://colab.research.google.com/github/NikhithaKunati/INFO5731_Spring2020/blob/master/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
# write your answer here
a = "Nikhiitha Kunati"
print(len(a))

16

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
string = 'google.com'
print(string)
frequency={}
for i in string:
  if i in frequency:
    frequency[i] += 1
  else:
    frequency[i] = 1
print("frequency of characters in the given string is: \n" + str(frequency))# write your answer here

google.com
frequency of characters in the given string is:
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list

In [0]:
# write your answer here
a = [1,2,3,4,5,6,7,8,9,10]
print(sum(a))

55

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
# write your answer here
def change(str1):
  char = str1[0]
  str1 = str1.replace(char, "$")
  str1 = char + str1[1:]
  return str1
print(change("nikhitha kunati"))

nikhitha ku$ati

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
# write your answer here
a = input("enter the first number:")
b = input("enter the second number:")
c = 1 + (float(a)/float(b))
d = 3.14 * pow(c,3)
print(d)

enter the first number:4
enter the second number:2
84.78

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
# write your answer here
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
#dic4 = {'dic1':dic1,'dic2':dic2,'dic3':dic3}
dic5 = {**dic1,**dic2,**dic3}

print(dic5)

{'dic1': {1: 10, 2: 20}, 'dic2': {3: 30, 4: 40}, 'dic3': {5: 50, 6: 60}}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
# write your answer here
tuplex = ("a","b","c","d","e","f")
print("r" in tuplex)
print("f" in tuplex)

False
True

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
# write your answer here
a = [1,2,3,4,5,6,7,8,9,10,15,25,30,26]
print(min(a))
print(max(a))

1
30

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
import random
student_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
for i in range(4):
  sampling = random.choices(student_list, k=7)
  student_list = [i for i in student_list if i not in sampling ]
  print("Group" +str(i+1)+": ", sampling)

Group1:  ['dp1080', 'laa0240', 'laa0240', 'nk0327', 'vmb0067', 'km0738', 'dp1080']
Group2:  ['ry0104', 'mk0830', 'vk0222', 'hn0139', 'tpk0023', 'hn0139', 'vk0222']
Group3:  ['ak0860', 'vp0241', 'lba0043', 'mj0396', 'lba0043', 'al0787', 'ps0501']
Group4:  ['tbl0041', 'vk0216', 'vk0216', 'ap0975', 'ss1872', 'ap0975', 'sm1515']